* {
    margin: 0px;
    padding: 0px;
    font-family: 'Amiko', sans-serif;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

body {
    background-image: linear-gradient(#000000,#AFAFAF,#BFBFBF,#CFCFCF,#DFDFDF,#EFEFEF,#FFFFFF);
}

.selected{
    font-weight: bold;
    border-bottom: 1px solid red;
    background: #F3F16B;
}

main, nav, article, aside, section, header,
footer {
    display:block;
}

#wrapper {
    margin: 0px auto;
    width: 1000px;
}

header {
    height:100px;
    background-color: #3F3F3F;
    padding-top: 2px;
}

footer {
    height:65px;
    background-color: #3F3F3F;
}

.ellipse {
    background: #AFC8DE;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto;
    margin-top: 17px;
}

li{
    list-style-type: none;
    text-align: center;
}

li:hover{
    font-weight: bold;
    background: #AFC8DE;
}

/*---------------Layout 1---------------*/
#layout1 main {
    background-color: white;
    height: 835px;
}

.box1 {
    width: 180px;
    height: 300px;
    border: 1px solid black;
    margin-left: 23px;
    margin-top: 90px;
    display: inline-block;
}

.box2 {
    position: absolute;
    width: 415px;
    height: 290px;
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 50px;
    display: inline-block;
}

.box3 {
    width: 180px;
    height: 300px;
    border: 1px solid black;
    margin-left: 280px;
    margin-top: 60px;
}

#layout1 nav {
    float: right;
    width: 185px;
    height: 835px;
    border-left: 3px solid #3F3F3F;
}

#layout1 nav li{
    margin-top: 20px;
}



/*---------------Layout 2---------------*/

#layout2 main {
    background-color: white;
    height: 650px;
}

#layout2 .cell{
    width: 160px;
    height: 650px;
    float: left;
    border-right: 3px solid #3F3F3F;
}

#layout2 nav {
    height: 180px;
    position: relative;
    background-image: radial-gradient(white,cyan,blue);
}

#layout2 li {
    display: inline;
    margin-right: 20px;
}

#layout2 ul {
    position:absolute;
    bottom: 0;
    margin-left: 160px;
}

#layout2 footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.box4 {
    float: right;
    width: 120px;
    height: 85px;
    border: 1px solid black;
    margin-right: 85px;
    margin-top: 90px;
}

.box5 {
    float: right;
    width: 120px;
    height: 85px;
    border: 1px solid black;
    margin-right: 40px;
    margin-top: 90px;
    margin-left: 100px;
}

.box6 {
    width: 410px;
    height: 285px;
    border: 1px solid black;
    margin-top: 83px;
    margin-right: 85px;
    float: right;
}

.box7 {
    width: 270px;
    height: 110px;
    border: 1px solid black;
    margin-top: 258px;
    margin-right: 20px;
    float: right;
}

/*---------------Layout 3---------------*/

#layout3 main {
    background-color: white;
    display: inline-block;
}

#layout3 .cell{
    width: 160px;
    height: 650px;
    float: left;
    border-right: 3px solid #3F3F3F;
}

#layout3 nav {
    height: 180px;
    position: relative;
    background-image: linear-gradient(blue,gray);
}

#layout3 li {
    display: inline;
    margin-right: 20px;
}

#layout3 ul {
    position:absolute;
    top:50%;
    left: 37%;
}

.buttons{
    float: left;
}

.buttons button{
    width: 60px;
    height: 50px;
    margin-right: 10px;
    float: left;
}

.box8 {
    width: 205px;
    height: 315px;
    border: 1px solid black;
    margin-top: 45px;
    margin-left: 90px;
    display:inline-block;
}

.box8 span {
    position: absolute;
    margin-top: 50px;
    margin-left: 75px;
    font-weight: bold;
    font-size: 200px;
    color: white;
}

.hamburger {
    background: url(../images/hamburger.png);
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    width: 50px;
    height: 50px;
    position: relative;
    margin-top: 65px;
    margin-right: 30px;
    border-radius: 50%;
    border: 2px solid black;
}

/*desktop*/
@media only screen and (min-width:770px){
    .hamburger {
        display: none;
    }
}

/*mobile*/
@media only screen and (max-width:769px){ 

    body{
        background-image: none;
    }
    
    .hamburger {
        display: block;
    }

    #wrapper {
        width: 100%;
    }

    .box8 {
        margin-left: 35px;
        margin-right: 35px;
    }
    
}